

footer {
  width: 100%;
  background-color: #4e4e4e;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-item {
    margin: 5px 0;
}
.footer-item img{
	max-width: 20px;
}
.footer-item:not(:first-child) {
    margin-left: 30px;
}

#footer p {
    text-align: center;
    font-size: 1.2em;
}